.app {
  padding: .5em 1em;
  row-gap: 1em;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: .5em 0;
  border-bottom: 1px solid gray;
}

.bold {
  font-weight: bold;
}